<div class="container py-5">
  <%= simple_form_for @wallet_entry do |f| %>
    <%= f.input :amount_cents %>
  <% end %>

  <%= link_to 'Confirm', '',
    id: 'pay',
    class: "details-section-add-money-button",
    data: {
        controller: 'stripe',
        stripe_api_value: ENV["STRIPE_PUBLISHABLE_KEY"],
        stripe_session_value: @wallet_entry.checkout_session_id,
        action: 'click->stripe#sendToStripe'
      } %>
</div>
