body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #1a1a40;
}

.main {
  display: flex;
  // flex-wrap: wrap;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle {
  white-space: nowrap;
}

.cover-image {
  background-position: 50%;
  background-size: cover;
  height: 18.75rem;
  position: relative;
  z-index: -1;
}

.profile_container {
  display: flex;
  margin: -3.5rem auto -2.5rem;
}

.avatar_container {
  height: 6rem;
  width: 6rem;
  position: relative;
  top: 250px;
  left: 50px;
  margin-right: 1.5rem;
}

.avatar_container_image {
  display: block;
  border: 0.25rem solid red;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.bet-wrapper {
  width: 350px;
  border-radius: 40px;
  background-image: url("background-tile.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bet-wrapper-tile-text {
  // display: flex;
  // flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
  // margin-bottom: 50px;
  padding: 24px;
  background: radial-gradient(100% 100% at 50.52% 0%, #686868 0%, #000000 100%);
  // box-shadow: 0 10px 20px rgba(0 0 0 0.05);
  // border-radius: 8px;
  .grouptext h3 {
    letter-spacing: 3.2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: white;
  }
  .grouptext p {
    letter-spacing: 3.2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: white;
  }
}

.bet-wrapper-tile-status {
  margin: 24px;
  .bet-wrapper-tile-status h1 {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 32px;
  }
  .bet-wrapper-tile-status p {
    opacity: 0.8;
    font-size: 15px;
    line-height: 1.5;
  }
}
