.statistics-kills {
  background-color: white;
  width: 520px;
  border-radius: 4px;
  margin: 10px;
}

.kills-graph {
  margin-right: 40px;
}

.stats-table {
  // text-transform: uppercase;
  text-align: center;
  // max-width: 900px;
  // justify-content: space-between;
}

.stats-title {
}

.detailed-statistics-text {
  margin-left: 10px;
}
