.statistics-kills {
  background-color: white;
  width: 520px;
  border-radius: 4px;
  margin: 10px;
}

.stats-table {
  // text-transform: uppercase;
  text-align: center;
  // justify-content: space-between;
}

.stats-title {
  padding-top: 50px;
}
