<div class="card-product">
  <%= image_tag ('killstreak.png') %>
  <div class="card-product-infos">
    <h2>Slayer!</h2>
    <p>Get a<strong>15 kill streak</strong>in your next match</p>
  </div>
</div>
