

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'cod-img1.png', class:"d-block w-100 carousel-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'fifa-img2.png', class:"d-block w-100 carousel-img" %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'halo-img3.png', class:"d-block w-100 carousel-img" %>
    </div>
  </div>
</div>
