<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Result!
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <% if bet.completion == nil %>
        <%= simple_form_for :bet, url: completion_path(:bet_id => bet, :completion => false) do |f| %>
        <%= f.submit class: "go-btn btn btn-outline-danger", value: "fail" %>

        <% end %>

        <%= simple_form_for :bet, url: completion_path(:bet_id => bet, :completion => true) do |f| %>
        <%= f.submit  class: "go-btn btn btn-outline-success", value:"Victory!" %>
        <% end %>
      <% end %>






      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
        <%# <button type="button" class="btn btn-primary">Save changes</button> %>
      </div>
    </div>
  </div>
</div>
