  <%# nav bar begin %>
<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">MVGAMER</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <% if action_name == 'dashboard' %>
        <a href="/dashboard" class="nav-link active text-white" aria-current="page">
          <span>Dashboard</span>
        </a>
      <% else %>
        <a href="/dashboard" class="nav-link text-white" aria-current="page">
          <span>Dashboard</span>
        </a>
      <% end %>
    </li>
    <li>
      <% if action_name == 'index' %>
        <a href="/challenges" class="nav-link active text-white" aria-current="page">
            <span>Challenges</span>
        </a>
      <% else %>
        <a href="/challenges" class="nav-link text-white" aria-current="page">
          <span>Challenges</span>
        </a>
      <% end %>
    </li>
      <% if action_name == 'statistics' %>
        <a href="/dashboard/statistics" class="nav-link active text-white" aria-current="page">
          <span>Statistics</span>
        </a>
      <% else %>
        <a href="/dashboard/statistics" class="nav-link text-white" aria-current="page">
          <span>Statistics</span>
        </a>
      <% end %>
    </li>
    </li>
      <% if action_name == 'wallet' %>
        <a href="#" class="nav-link active text-white" aria-current="page">
          <span>Wallet</span>
          <span>£5</span>
        </a>
      <% else %>
        <a href="#" class="nav-link text-white" aria-current="page">
          <span>Wallet</span>
          <span>£<%= @wallet_entry.total %></span>
        </a>
      <% end %>
    </li>
  </ul>
  <hr>
  <div class="dropdown d-flex">
      <img src="<%= asset_path("luffy_avatar.png") %>" alt width="32" height="32" class="rounded-circle me-2" alt="profile picture of user"><strong> Rodney</strong>
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" >
    </a>

    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" data-popper-placement="top-start" style="position:absolute; inset: auto auto 0px 0px; margin: 0px; transform: translated3d(0px, -34px, 0px);">
      <li>
        <a href="#" class="dropdown-item" >New Challenge</a>
      </li>
      <li>
        <a href="#" class="dropdown-item" >Wallet</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
        <%# <a href="#" class="dropdown-item" >Sign out</a> %>
      </li>
    </ul>
  </div>
</div>
