
<div class="home">
  <%# carousel/searchbar %>
  <div>
    <div class="shade">
      <div id="carousel co-12 col-sm-6 col-md-4">
        <%= render 'shared/carousel' %>
      </div>
    <div class="call-to-action container">
      <h1 class="hover-effect" data-text="glitch">Play Games and Win Cash with <span style="color: rgba(204, 255, 0, 0.98)" >MVGAMER</span></h1>
      <%# <h2>View your recent stats and complete daily challenges for cash rewards</h2> %>
      <a href="#" class="btn btn-primary">Start your first bet here!</a>
    </div>
    </div>
  </div>


  <%# gamegrid %>
  <div class="d-flex justify-content-center">
    <div class="game-grid">
        <%= render 'shared/game-grid' %>
    </div>
  </div>

  <%# challenges %>
  <h3 class="site-overview mb-5" style="max-width: 800px; margin-left: auto; margin-right: auto; margin-bottom: 0;;">What is Mvgamer?</h3>
  <h4 class="site-overview-text" style="max-width: 800px; margin-left: auto; margin-right: auto; margin-bottom: 0;">
  Mvgamer is the ultimate game betting destination for anyone who loves competitive gaming. Sign up today and get access to some of your favourite games statistics and exclusive rewards.
  </h4>


  <div class="container d-flex text-white">
    <div class="master-content">
      <div class="game-section game-section-one d-flex">
        <div class="g-layout b-flex">
          <%# <%= image_tag "gameplay1.png", alt: "alttext", class: "gameplay-img"%>
          <div class="game-section-content b-col_md_6">
            <h2 class="text-section-title">Master your skills and customize the bets you want to complete</h2>
            <div class="text-section-text">
            Try out our one-of-a-kind gaming betting app where you and friends can tweak the challenges you'd like to complete. Balance your strenghts and weaknesses to conquer higher heights.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex text-white">
    <div class="master-content">
      <div class="game-section game-section-two d-flex">
        <div class="g-layout b-flex">
          <%# <%= image_tag "gameplay1.png", alt: "alttext", class: "gameplay-img"%>
          <div class="game-section-content game-section-content-two b-col_md_6">
            <h2 class="text-section-title">Master your skills and customize the bets you want to complete</h2>
            <div class="text-section-text">
            Try out our one-of-a-kind gaming betting app where you and friends can tweak the challenges you'd like to complete. Balance your strenghts and weaknesses to conquer higher heights.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Reward your dedication // Try something new - play select new-release games  %>
