<%# <%= area_chart @data["matches"].group_by_day(:created_at).count %>



<%# <%= Chartkick.ColumnChart(@sum_kills) %>
<div class="statistics-kills">
  <%= area_chart @sum_kills, xtitle: "Game", ytitle: "Number of Kills", width: "500px", height: "300px", download: true %>
</div>

<%# , height: "250px" %>
