<div class="container">

  <div class="show-header">
    <h1>Challenge summary</h1>
  </div>

  <div class="challenge-body">
    <div class="left">
      <h2>#{challenge title}</h2>
      <h4>Description:</h4>
      <h5>#{challenge description}</h5>
      <h4>Wager:</h4>
      <%# calculator form %>
      <div class="bet-buttons d-flex">
        <button type="button" class="btn btn-primary">£5</button>
        <button type="button" class="btn btn-primary">£10</button>
        <button type="button" class="btn btn-primary">£20</button>
      </div>
      <div class="bet-display">
      </div>
    </div>
    <div class="right">
      <%= image_tag "warzone-photo.png", alt: "alttext", class: "warzone-challenge-img"%>
    </div>
  </div>

</div>
