// .bet-form label {
//   display: none;
// }
.bet-form {
  margin-top: 60px;
  // border-bottom: 1px solid #1A1A40;
  box-shadow: 0 4px 2px -2px #1A1A40;
}

.bet-form legend {
  display: none;
}

.bet_wager label {
  display: none;
}

.collection_radio_buttons {
  display: block !important;
}

.bet-title {
  font-size: 70px;
}

.bet-description {
  font-size: 30px;
}

.wager-subheader {
  margin-right: 20px;
}

.odds {
  // padding: 10px;
  // margin-left: 85px;
  // margin-top: 10px;
  font-size: 30px;
  height: 100px;
  width: 175px;
}

.odds-outer {
  margin-top: 30px;

}

.odds-makebet {
  display: flex;
  justify-content:space-around;

}

#totalPrice {
  font-size: 28px;
  background-color: white;
  color: black;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 16px;

}


.wager-selector {
  display: none;
}

.wager-icon {
//   color: #000;
//     background-color: #1EDD88;
//     border-color: #1EDD88;
  width: 120px;
  height: 60px;
  margin: 10px;
  padding-top: 15px;
  border-radius: 16px;

  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1EDD88;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #16995e;
}

.wager-icon:hover {
  background-color: #1ab972
}

.wager-icon:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #346636;
  transform: translateY(4px);
}

.mkkabet {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1EDD88;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #16995e;

}

.mkkabet:hover {
  background-color: #1ab972

}

.mkkabet:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #346636;
  transform: translateY(4px);
}

.bkkabet {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0D6EFD;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #0946a1;

}

.bkkabet:hover {
  background-color: #0c57c9

}

.bkkabet:active {
  background-color: #0D6EFD;
  box-shadow: 0 5px #0946a1;
  transform: translateY(4px);
}

//     cursor: pointer;
//   .label {
//     display: inline-block;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #0E0000;
//     text-align: center;
//     text-decoration: none;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     border-radius: 2px;
//     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   }

.form-check-label {
  align-items: center;
}


.wager-subheader {
   // margin-left: 10px;
}

.wager-custom {
   margin-top: 30px;
}

.odds {
  background-color: white  ;
  color: black;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
}

.odds-top {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.odds-bot {
  display: flex;
  justify-content: center;
}

.odds-makebet {
  display: flex;
  justify-content: space-around;
}

.payout-top {
  flex-direction: column;
}

.bet-btns {
  justify-content: space-between;
  margin-top: 70px;
  margin-right: 20px;
  // margin-left: 20px;
}

.go-btn {
  width: 550px;
  height: 60px;
  border-radius: 16px;
}

.back-btn {
  width: 120px;
  height: 60px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
