.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(251, 234, 78);
  //background-color: linear-gradient(0.25turn, rgb(194, 180, 60), rgb(201, 187, 62), rgb(194, 180, 60));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  // color: black;
  color: rgb(26, 26, 62);
}
